 body {
      background-color: #ffffff;
      font-family: Roboto, sans-serif;
      font-size: 36px;
    }
  h1{
    background-color: #00000000;
    font-family: Roboto,sans-serif;

    }


	   img {
    width: 95%;
    height: auto;
   
}
div.card {
    width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
    margin-left: 30px;
    text-align: left;

}

div.header {
    background-color: #2aa4bc;
    color: white;
    padding: 1px;
    font-size: 40px;
}

div.container {
    padding: 10px;
}

ul {
    background: #B9EBF5;
    padding: 20px;
}
ul li {
    background: #CAEEF5;
    padding: 5px;
    margin-left: 35px;
}